*{
    font-family: Arial, Helvetica, sans-serif;
}

html{
    background-color: #3F3F3F;
    color: #f0f0f0;
}

.stats {
    max-width: 900px;
    margin: 50px auto 0 auto;
    /* background-color: rgb(211, 206, 206); */
}

.stats h1 {
    text-align: center;
    font-size: 45px;
}

.stats .right,
.stats .left {
    width: 49.5%;
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
}


.stats p {
    padding: 20px;
    background: #777;
    border-radius: 10px;
    margin: 60px auto;
    font-size: 24px;
    width: 80%;
    box-shadow: 0px 0px 10px 2px #222;
    transition: .5s;
}

.stats p:hover {
    box-shadow: 0px 0px 60px 6px #222;
}

#myChart {
    width: 80% !important;
    margin: 0 auto;
    margin-top: 5vh;
    height: 85vh !important;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(211, 206, 206);
    color: white !important;
}
